<!DOCTYPE html>
<html lang="en" xlmns:th="https://www.thymeleaf.org/" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">

</head>

<body>
    <div align ="center">
    <h1 th:replace="fragments :: title"></h1>
    <a href="/home/login">login</a>

        <div class="row">
            <div th:each= "art: ${arts}" class="column">
                <a th:href="'/home/'+${art.owner.username}+'/'+${art.title}">
                    <img th:src="@{${art.imageLocation}}"/>
                    <h3 th:text="${art.title}">Title</h3>
                    <p th:text="${art.style}">style</p>

                </a>
            </div>

        </div>
    </div>





</body>
</html>