<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments :: head"></head>
</head>
<body>
<div align="center">
<h1 th:replace="fragments :: title"></h1>
<form method="post" style="max-width:300px;">

    <div class = "form-group">
        <label>Username</label>
        <input class = "form-control" name="username" />
    </div>

    <div class = "form-group">
        <label>Password</label>
        <input class="form-control" name = "password" />
    </div>

    <div class = "form-group">
        <label>Confirm Password</label>
        <input class = "form-control" name="confirmPassword"/>
    </div>
    <button action="submit" class="btn-lg">Create account</button>
</form>
</div>




</body>
</html>